<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/adminLayout.html">

<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
<div layout:fragment="panel.heading">
  <h2>Reservation</h2>
</div>

<div layout:fragment="content">
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Date</th>
      <th>Type</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations}">
      <td>
        <span class="field-value" th:text="${reservation.uuid}"></span>
      </td>
      <td>
        <span class="field-value" th:text="${reservation.user.firstName} + ' ' + ${reservation.user.lastName}"></span>
      </td>
      <td>
        <span class="field-value" th:text="${reservation.date}"></span>
      </td>
      <td>
        <span class="field-value" th:text="${reservation.type}"></span>
      </td>
      <td>
        <span class="field-value" th:text="${reservation.status}"></span>
      </td>
      <td>
        <button class="btn btn-primary edit-btn">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>

</html>
