<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/admin/adminLayout.html"
>
	<head>
		<meta charset="UTF-8" />
		<title>Login</title>
	</head>
	<body>
		<div layout:fragment="panel.heading">
			<h2>Reservations</h2>
		</div>
		<div layout:fragment="content">
			<div th:each="reservations : ${users}">
				<span th:text="${reservation.uuid}"></span>
				<span th:text="${reservation.user.email}"></span>
				<span th:text="${reservation.date}"></span>
				<span th:text="${reservation.type}"></span>
			</div>
		</div>
	</body>
</html>
