<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head>
		<meta charset="UTF-8" />
		<title>Layout</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<header layout:fragment="header">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Signup</a></li>
				</ul>
			</nav>
			<header layout:fragment="header.inner"></header>
		</header>

		<div layout:fragment="content"></div>

		<footer layout:fragment="footer">[FOOTER]</footer>
	</body>
</html>
